.feature{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.featureItem{
    width: calc(100% / 3 - 20px);
    padding: 20px;
    border-radius:5px;
    cursor: pointer;
    -webkit-box-shadow: 10px 14px 14px -5px rgba(0,0,0,0.25); 
    box-shadow: 10px 14px 14px -5px rgba(0,0,0,0.25);
    background-color:#FFF5EE;
}

.featureTitle{
    font-size: 30px;
}

.featureMoneyContainer{
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.featureMoney{
    font-size: 30px;
    font-weight: 600;
}

.featureMoneyRate{
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.featureIcon{
    font-size: 25px !important;
    margin-left: 5px;
    color: green;
}

.featureIcon.negative{
    color:red;
}

.featuredSub{
    color: #555;
}